body {
	margin: 0;
	color: #009900;
	font-family: Arial;
	font-size: 16pt;
}
table {
	border-collapse: collapse;
	border: 1px solid black;
}
h1 {
	text-align: center;
	font-size: 36pt;
}
h2 {
	text-align: center;
	font-size: 24pt;
}
h3 {
	text-align: center;
	font-size: 18pt;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* Лента */
#ribbon {
	background-color: #009900;
	vertical-align: middle;
}
#ribbon img {
	height: 60px;
	padding:10px;
}
#logo {
	float:left;
}
#kwacker {
	display:block;
	margin: auto;
}

/*Блок с информацией об аккаунте*/
#info {
	width: 960px;
	margin: auto;
}
#info table {
	margin: 0 auto;
	width: 100%;
}

/* Подписки и подписчики */
#follow {
	width: 960px;
	margin: auto;
	vertical-align: top;
}
#follow table {
	width: 100%;
}
#follow div{
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
	width: 476px;
}
#follow form {
	text-align: right;
}
.b {
	border-radius: 5px;
	border: 1px solid #009900;
	color: #009900;
}
button {
	border-radius: 8px;
	background-color: #e3e3e3;
}
button img {
	height: 20px;
	padding: 5px;
}